<div class="genres">
{{#each genres as |genre|}}
   <button {{action "selectMovieGenre" genre}} class="genre">{{genre}}</button>
{{/each}}
</div>
<div class="movie-list">
{{#each filteredMoviesByGenre as |movie|}}
    {{movies-by-genre
       movie=movie
       selectedGenre=selectedGenre}}
{{/each}}
</div>
